.ais-search-box {
  position: relative;
  width: 100%;
  max-width: none;

  input {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Arimo', sans-serif;

    &:focus {
      border-left: 4px solid #e0e0e0;
      padding-left: 12px;
      outline: none;
    }
  }
}

.ais-search-box--magnifier-wrapper {
  display: none;
}

.ais-search-box--reset-wrapper {
  position: absolute;
  right: 26px;
  top: 15px;
}

.ais-search-box--reset {
  top: auto;
  right: auto;
}
